<!DOCTYPE html>
<html>

<head>
  <title>Eventbride</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <%= render 'layouts/navbar' %>
  </header>

  <div class="container pt-3 pb-5" style="background-color: #eee;">
    <%= yield %>
  </div>
</body>

</html>